In [1]:
#!pip install torch

In [2]:
import json
import pandas as pd
import numpy as np
import joblib 
import re
import matplotlib.pyplot as plt
import io, os
import shap
from os import path
import datetime as dt
import pickle as pkl
import random
from tqdm import tqdm
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer
from datetime import datetime
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.utils import resample
from sklearn.model_selection import cross_val_score
from transformers import AutoTokenizer, AutoModel
import torch

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows',200)
%matplotlib inline

In [3]:
def build_dataset():
    data = [json.loads(x) for x in open("MLA_100k.jsonlines")]
    target = lambda x: x.get("condition")
    N = -10000
    X_train = data[:N]
    X_test = data[N:]
    y_train = [target(x) for x in X_train]
    y_test = [target(x) for x in X_test]
    for x in X_test:
        del x["condition"]
    return X_train, y_train, X_test, y_test

def normalize_data(X, y):    
    y = pd.Series(y).replace({'new':1, 'used':0}).astype(int).copy()
    print('Normalizando json...')
    X = pd.json_normalize(X)
    return X, y

def formatear_utf_8(s):    
    '''Remueve caracteres y encodea a utf-8'''    
    import unicodedata
    try:
        text = unicode(text, 'utf-8')
    except NameError: 
        pass    
    
    s = s.lower()
    # Replace ips
    s = re.sub(r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}', ' _ip_ ', s)
    # Isolate punctuation
    s = re.sub(r'([\'\"\.\(\)\!\?\-\\\/\,])', r' \1 ', s)
    # Remove some special characters
    s = re.sub(r'([\;\:\|•«\n])', ' ', s)
    # Replace numbers and symbols with language
    s = s.replace('&', ' y ')
    s = s.replace('@', ' arroba ')
    s = s.replace('0', ' cero ')
    s = s.replace('1', ' uno')
    s = s.replace('2', ' dos ')
    s = s.replace('3', ' tres ')
    s = s.replace('4', ' cuatro ')
    s = s.replace('5', ' cinco ')
    s = s.replace('6', ' seis ')
    s = s.replace('7', ' siete ')
    s = s.replace('8', ' ocho ')
    s = s.replace('9', ' nueve ')
    s = re.sub('[^A-Za-z0-9]+', ' ', unicodedata.normalize('NFD', s).encode('ascii', 'ignore').decode("utf-8"))    
    return str( s)


def warranty(df_flatted):
    '''
    Quick feature processing for warranty.
    - Fills missing values with 'sin_datos'
    - Standardizes values and categorizes them
    
    Parameters:
    df_flatted (DataFrame): The flattened DataFrame with a 'warranty' column.
    
    Returns:
    DataFrame: The DataFrame with the processed 'warranty' column.
    '''
    print('Procesando warranty...')
    
    # List of known warranty categories
    lista_warranty = ['sin_datos', 'si', 'sin garantia']
    
    # Fill NaN values, convert to lowercase, and apply utf-8 formatting
    df_flatted['warranty'] = df_flatted['warranty'].fillna('sin_datos').str.lower().apply(formatear_utf_8)
    
    # Define mapping rules
    mapping_rules = [
        ('fabr', 'si'),
        ('meses', 'si'),
        ('reputacion', 'sin garantia'),
        ('con garantia', 'si'),
        ('garantia total', 'si'),
        ('ano', 'si')
    ]
    
   
    def map_warranty(warranty):
        for substring, replacement in mapping_rules:
            if substring in warranty:
                return replacement
        return warranty
    
    df_flatted['warranty'] = df_flatted['warranty'].apply(map_warranty)    
    df_flatted['warranty'] = df_flatted['warranty'].apply(lambda x: x if x in lista_warranty else 'otros')
    
    return df_flatted


def tags(df_flatted):
    '''
    exploto tags
    dropeo duplicados de los casos con doble tag y me quedo con el de la clase minoritaria (para mas info)
    lleno nan con no_info
    
    '''
    print('Procesando tags...')
    list_tags = ['dragged_bids_and_visits', 'no_info']
    
    tags_df = df_flatted['tags'].explode()
    tags_df.fillna('no_info', inplace=True)
    tags_df = tags_df.apply(lambda x: x if x in list_tags else 'otros')
    df_flatted['tags'] = tags_df[~tags_df.index.duplicated(keep='first')]
    
    return df_flatted

def process_title(df):
    
    print('Formateando features a utf-8...')    
    df_nlp = df.copy()         
    shape_init = len(df_nlp)
    
    #renombro nan a sin datos
    df_nlp['title'] = df_nlp['title'].fillna(value='nan')
    
    #paso todo a lower case
    df_nlp['title'] = df_nlp['title'].str.lower()    
    
    #formateo todo a utf-8
    df_nlp['title'] = df_nlp['title'].apply(lambda x: formatear_utf_8(x))    
    
    if shape_init - len(df_nlp) != 0:
        print('se perdieron registros, chequear')  
    return df_nlp


def listings_type_id(df_flatted):
    
    print('Procesando listings...')
    
    df_flatted['listing_type_id'] = df_flatted['listing_type_id'].apply(lambda x: 'gold' if 'gold' in x else x).copy()

    df_flatted['listing_type_id'].replace({'free':1,
                                           'bronze':2,
                                           'silver':3,
                                           'gold':4}, inplace=True)   
    return df_flatted

# Cargar la data desde json

In [4]:
print("Loading dataset...")

X_train, y_train, X_test, y_test = build_dataset()

Loading dataset...

# Preprocessing

In [5]:
X_train, y_train = normalize_data(X_train, y_train)
X_test, y_test = normalize_data(X_test, y_test) 

X_train['condition'] = X_train['condition'].replace({'new':1, 'used':0})
X_train = process_title(X_train)
X_train = tags(X_train)
X_train = warranty(X_train)
X_train = listings_type_id(X_train)

Normalizando json...
Normalizando json...
Formateando features a utf-8...
Procesando tags...
Procesando warranty...
Procesando listings...

## Selecting useful features

In [6]:
useful_cols = ['warranty', 'listing_type_id', 'price', 'buying_mode','category_id','title','condition','tags','initial_quantity']
X_train = X_train[useful_cols]

In [7]:
# from ydata_profiling import ProfileReport
# profile = ProfileReport(X_train, title="Profiling Report")
# profile.to_file("problem_report.html")

## probamos creando embeddings para title

In [ ]:
tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased')
model = AutoModel.from_pretrained('bert-base-uncased')

In [ ]:
def get_embeddings(text, tokenizer, model):
    inputs = tokenizer(text, return_tensors='pt', padding=True, truncation=True, max_length=128)
    with torch.no_grad():
        outputs = model(**inputs)
    embeddings = outputs.last_hidden_state.mean(dim=1)
    return embeddings

In [ ]:
if torch.cuda.is_available():
    print("GPU is available and being used by PyTorch.")
    print(f"Number of GPUs available: {torch.cuda.device_count()}")
    print(f"Current GPU device: {torch.cuda.current_device()}")
    print(f"Device name: {torch.cuda.get_device_name(torch.cuda.current_device())}")
else:
    print("No GPU available, PyTorch is using the CPU.")

In [ ]:
embeddings = []
for title in tqdm(X_train['title']):
    embedding = get_embeddings(title, tokenizer, model)
    embeddings.append(embedding.squeeze().numpy())

# Convert embeddings list to a DataFrame
embeddings_df = pd.DataFrame(embeddings)

# Concatenate the embeddings DataFrame with the original DataFrame
df_with_embeddings = pd.concat([X_train, embeddings_df], axis=1)

In [ ]:
df_with_embeddings.to_csv('dataset_embeddings.csv')

In [ ]:
df_with_embeddings

## Probamos random forest simple

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [9]:
# Separate features and target
X = X_train.copy().drop('condition', axis=1)
y = X_train['condition']

In [10]:
def encode_run_rf(X, y):
    
    X.drop(['category_id', 'title'], axis=1, inplace=True)
    
    categorical_features = X.select_dtypes(include=['object']).columns.tolist()
    
    encoder = OneHotEncoder(sparse=False, drop='first')
    X_encoded = encoder.fit_transform(X[categorical_features])
    
    X_encoded_df = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out(categorical_features))
    
    X_encoded_df.columns = X_encoded_df.columns.astype(str)
    
    X = X.drop(categorical_features, axis=1)
    X = pd.concat([X, X_encoded_df], axis=1)   
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Initialize and train the RandomForestClassifier
    rf = RandomForestClassifier(n_estimators=100, random_state=42)
    rf.fit(X_train, y_train)
    
    # Predict on the test set
    y_pred = rf.predict(X_test)
    
    # Evaluate the model
    accuracy = accuracy_score(y_test, y_pred)
    print(f'Accuracy: {accuracy:.2f}')

    return rf, X_test

In [11]:
rf_trained, X_test_rf = encode_run_rf(X,y)

C:\Users\esteban\mambaforge\envs\pycaret\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Accuracy: 0.82

In [12]:
X_test_rf

,listing_type_id,price,initial_quantity,warranty_si,warranty_sin garantia,buying_mode_buy_it_now,buying_mode_classified,tags_no_info,tags_otros
89610,2,200.00,1,0.0,1.0,1.0,0.0,0.0,0.0
12456,3,299.00,2,0.0,0.0,1.0,0.0,0.0,1.0
53403,1,24.99,1,0.0,0.0,1.0,0.0,0.0,0.0
62905,4,499.99,2,1.0,0.0,1.0,0.0,0.0,0.0
66339,2,200.00,1,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
48954,2,40.00,1,0.0,0.0,1.0,0.0,0.0,0.0
38743,2,120.00,1,0.0,0.0,1.0,0.0,0.0,0.0
57097,3,125000.00,1,0.0,0.0,0.0,1.0,1.0,0.0
54782,2,40.00,1,0.0,0.0,1.0,0.0,0.0,0.0
54495,1,3800.00,1,0.0,0.0,1.0,0.0,0.0,0.0

In [13]:
X_test_shap = X_test_rf.sample(2000)

In [14]:
X_test_rf

,listing_type_id,price,initial_quantity,warranty_si,warranty_sin garantia,buying_mode_buy_it_now,buying_mode_classified,tags_no_info,tags_otros
89610,2,200.00,1,0.0,1.0,1.0,0.0,0.0,0.0
12456,3,299.00,2,0.0,0.0,1.0,0.0,0.0,1.0
53403,1,24.99,1,0.0,0.0,1.0,0.0,0.0,0.0
62905,4,499.99,2,1.0,0.0,1.0,0.0,0.0,0.0
66339,2,200.00,1,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
48954,2,40.00,1,0.0,0.0,1.0,0.0,0.0,0.0
38743,2,120.00,1,0.0,0.0,1.0,0.0,0.0,0.0
57097,3,125000.00,1,0.0,0.0,0.0,1.0,1.0,0.0
54782,2,40.00,1,0.0,0.0,1.0,0.0,0.0,0.0
54495,1,3800.00,1,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
explainer = shap.TreeExplainer(rf_trained)
shap_values = explainer.shap_values(X_test_shap)

In [ ]:
shap.summary_plot(shap_values, X_test_shap, plot_type="dot")

In [ ]:
plt.show()

In [ ]:
from featurewiz import featurewiz

In [ ]:
data_combined = X.copy()
data_combined['condition'] = y

In [ ]:
# Use featurewiz for feature selection
features, train_data = featurewiz(
    dataname=data_combined, target='condition', corr_limit=0.7, verbose=1, sep=',', header=0, 
    test_data='', feature_engg='', category_encoders='', 
    dask_xgboost_flag=False, nrows=None
)

# Inspect selected features
print("Selected Features:", features)
print("Transformed Training Data:", train_data.head())

In [ ]:
# Inspect selected features
print("Selected Features:", features)
train_data.head()

## Usando PyCaret

In [16]:
import pandas as pd
from pycaret.datasets import get_data
from pycaret.classification import setup, compare_models, get_config

In [17]:
from pycaret.classification import *
clf1 = setup(X_train, target = 'condition', session_id=123, log_experiment=True, experiment_name='pycaret_primer_run')

In [18]:
best_model = compare_models()

In [27]:
rf = create_model('rf')

In [ ]:
plt.figure(figsize=(12, 8))

In [ ]:
interpret_model(rf)

In [ ]:
import mlflow
mlflow.set_tracking_uri('http://127.0.0.1:5000')